/AbstractActivityReporter.java
/DailyActivityStatsFromActivityReporter.java
/DailyActivityStatsIndices.java
/DailyReportFromActivityReporter.java
/IsAliveFromActivityReporter.java
/PeriodActivityStatsFromActivityReporter.java
/PeriodActivityStatsIndices.java
/StatisticReportFromActivityReporter.java
