/AbstractFitbit.java
/AlarmFromFitbit.java
/AlarmIndices.java
/CaloriesFromFitbit.java
/CaloriesIndices.java
/DistanceInMetersFromFitbit.java
/DistanceInMetersIndices.java
/IsAliveFromFitbit.java
/PulsesFromFitbit.java
/PulsesIndices.java
/SleepPeriodsFromFitbit.java
/SleepPeriodsIndices.java
/StepsFromFitbit.java
/StepsIndices.java
