/AbstractFitbit.java
/ActivitiesBetweenFromFitbit.java
/ActivitiesBetweenIndices.java
/AlarmFromFitbit.java
/AlarmIndices.java
/DailyActivitiesFromFitbit.java
/DailyActivitiesIndices.java
/DailyPulsesFromFitbit.java
/DailyPulsesIndices.java
/DailySleepPeriodsFromFitbit.java
/DailySleepPeriodsIndices.java
/DailyStepsFromFitbit.java
/DailyStepsIndices.java
/IsAliveFromFitbit.java
/PulsesBetweenFromFitbit.java
/PulsesBetweenIndices.java
/SleepPeriodsBetweenFromFitbit.java
/SleepPeriodsBetweenIndices.java
/StepsBetweenFromFitbit.java
/StepsBetweenIndices.java
